body {
  background-color: aliceblue;
}

.container {
  background-color: #dfff4f70; 
  border-color: #9F9A04;
  border-radius: 15px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}

.container #happy {
  background-color: #FF82A9;
  border-color: #FF0A58;
  font-size: 30px;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
}

.container #sad {
  background-color: #7F95D1;
  border-color: #3f4a69;
  font-size: 30px;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
}

.container #mid {
  background-color: #C2C5BB;
  border-color: #61635e;
  font-size: 30px;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
}

.container #idk {
  background-color: #AF125A;
  border-color: #FF0A58;
  font-size: 30px;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
}

button {
  transition: transform 0.3s ease;

}

button:hover {
  transform: scale(1.05);
}

h3 {
  font-size: 50px;
}

.hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  width: 40%;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  z-index: 1000;
}

#closePopup {
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

p {
  font-size: large;
}